@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
    --font-primary-color: #172554;
    --font-secondary-color: rgba(23, 37, 84, 0.9);
    --main-section-bg-color: #eff6ff;
    --icon-color: #ffffff;
    --sidebar-btn-bg-color: #3b82f6;
    --sidebar-btn-font-color: #ffffff;
    --project-card-bgc: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sens', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--main-section-bg-color);
}

.sidebar {
    grid-column: 1;
    display: grid;
    background-color: var(--sidebar-btn-bg-color);
    height: 100%;
    grid-template-rows: 1fr 3fr 8fr;
    padding: 2vw;
}

.sidebar-title {
    grid-row: 1;
}

.sidebar-title>div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar-title>div>span {
    font-size: 24px;
    font-weight: 900;
    color: var(--sidebar-btn-font-color);
}

.personal-links {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
}

.settings-and-help {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3vh 0 0 20px;
    gap: 20px;
}

.links {
    display: flex;
    align-items: center;
    gap: 15px;
}

svg {
    fill: var(--icon-color);
    width: 20px;
}

#title-icon {
    width: 40px;
}

.links>span {
    font-size: 18px;
    text-align: center;
    color: var(--sidebar-btn-font-color);
    font-weight: 700;
    cursor: pointer;
}


/* Main section styles */
.main-section {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header {
    grid-row: 1;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 20px 40px;
    height: fit-content;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    >.search-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        >input {
            appearance: none;
            outline: none;
            border: none;
            background-color: var(--main-section-bg-color);
            border-radius: 15px;
            height: 30px;
            width: 35vw;
            padding: 0 10px;
            align-items: center;
        }

        >svg {
            fill: var(--font-primary-color);
            width: 26px;
        }
    }

    >.user-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        >svg {
            fill: var(--font-primary-color);
            width: 24px;
        }

        >.avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--font-primary-color);
            background-color: #fff;
            border-radius: 15px;
            width: 30px;
            height: 30px;

            >svg {
                fill: var(--font-primary-color);
                width: 24px;
            }
        }

        >span {
            font-size: 18px;
            font-weight: 700;
            color: var(--font-primary-color);
        }
    }

}

.name-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    >.greet-user {
        display: flex;
        align-items: center;
        gap: 10px;

        >svg {
            fill: var(--font-primary-color);
            width: 3em;
        }

        >.greeting-wrapper {

            >p {
                font-size: 0.8em;
                font-weight: 600;
                color: var(--font-primary-color);
            }

            >h4 {
                font-size: 1.3em;
                color: var(--font-primary-color);
            }
        }
    }

    >.btn-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;

        >button {
            width: 5rem;
            padding: 10px 0;
            border: none;
            background-color: var(--sidebar-btn-bg-color);
            border-radius: 20px;
            color: var(--sidebar-btn-font-color);
            font-weight: 600;
            cursor: pointer;
        }
    }
}

.main-project-container {
    grid-row: 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
    gap: 20px;

    >div {
        height: 100%;

        >h4 {
            color: var(--font-primary-color);
        }

        >.projects-section {
            padding: 10px 0 0 0;
            grid-column: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 30px;

            >.project-card {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                background-color: var(--project-card-bgc);
                border-radius: 10px;
                height: 200px;
                >.text {

                    >h5 {
                        font-size: 16px;
                        color: var(--font-primary-color);
                    }
    
                    >p {
                        padding-left: 5px;
                        color: var(--font-secondary-color);
                    }

                    >.features {
                        margin-top: 5px;
                        >h5 {
                            padding-left: 5px;
                            font-size: 14px;
                            color: var(--font-secondary-color);
                        }
                        >ul>li {
                            padding-left: 10px;
                            font-size: 14px;
                            color: var(--font-secondary-color);
                        }
                    }

                }
                >.card-icons {
                    display: flex;
                    gap: 20px;
                    width: 100%;
                    justify-content: flex-end;

                   .star, 
                   .view, 
                   .fork {
                        >a>svg,
                        >svg {
                            fill: var(--font-primary-color);
                            cursor: pointer;
                        }
                    }
                }

            }
            >#grid-item-5 {
                grid-column: 1;
                grid-row: 2;
            }
        }
    }

    .info {
        height: 100%;

        >h4 {
            color: var(--font-primary-color);
        }
        >.info-section {
            padding: 10px 0 0 0;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;

            .info-card {
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: var(--project-card-bgc);
                gap: 10px;
                border-radius: 10px;

                .info-card-content {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    height: fit-content;
                    border-bottom: 1px solid var(--font-primary-color);
                    padding-bottom: 20px;

                    >h5 {
                        color: var(--font-primary-color);
                    }
                    >p {
                        font-size: 14px;
                        color: var(--font-secondary-color);
                    }
                }

                #updated-privacy {
                    border: none;
                }
            }

            #tranding-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                >h4 {
                    color: var(--font-primary-color);
                }
                >.users>.user {
                    display: flex;
                    gap: 15px;
                    >img {
                        width: 32px;
                        height: 32px;
                        border-radius: 16px;
                    }

                    >span {
                        >h4 {
                            color: var(--font-primary-color);
                        }
    
                        >p {
                            font-size: 14px;
                            color: var(--font-secondary-color);
                        }
                    }
                }
            }
        }


    }
}

/* Card color strip */
.project-card::before {
    position: absolute;
    display: flex;
    height: 200px;
    width: 10px;
    border-radius: 10px 0 0 10px;
    content: "";
    background: linear-gradient(#38bdf8, #38bdf8, #6366f1);
    top: 0;
    left: 0;
}